@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

html {
    scroll-behavior: smooth;
}

body,
.p-component {
    font-family: "Almarai", sans-serif !important;
}

*:focus,
*:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

ol,
ul {
    list-style: none !important;
    margin: 0 !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    text-decoration: none !important;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: inherit;
}

.me-auto {
    margin-inline-start: auto !important;
    margin-inline-end: inherit !important;
}

img {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:focus,
.btn:active {
    outline: none !important;
}

.dropdown-toggle.btn.show {
    border: 0 !important;
    outline: none !important;
}

.w-content {
    width: fit-content;
}

.fit-contain {
    object-fit: contain !important;
}

.fit-object-cover {
    object-fit: cover !important;
}

.fs-lg {
    font-size: 2.8rem;
}

.fs-4-1 {
    font-size: 1.4rem !important;
}

.fs-5-1 {
    font-size: 1.1rem !important;
}

.fs-5-2 {
    font-size: 1.05rem !important;
}

.fs-6-1 {
    font-size: 0.9rem !important;
}

.fs-7 {
    font-size: 0.95rem !important;
}

.fs-8 {
    font-size: 0.85rem !important;
}

.fs-8-1 {
    font-size: 0.8rem;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.pointer {
    cursor: pointer;
}

hr {
    background-color: #ccc !important;
}

.global-card {
    background-color: var(--bg-white-color);
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001a;
    padding: 1rem;
}

.general-dropdown {
    .dropdown-menu {
        right: 0 !important;
        left: inherit !important;
    }
}

.dropdown-toggle::after {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

small {
    font-size: 0.7em;
}

@media (min-width: 1024px) {
    .container {
        max-width: 82% !important;
    }
}

@media (min-width: 1024px) {
    .container-fluid {
        max-width: 95% !important;
    }
}

@media (max-width: 767px) {
    .container {
        width: 90% !important;
    }
}