:root {
  --text-main-color: #000;
  --bg-main-color: #000;
  --text-secondary-color: #dadada;
  --bg-secondary-color: #dadada;
  --text-second-color: #990000;
  --bg-second-color: #990000;
  --text-dark-color: #111;
  --bg-dark-color: #111;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --text-muted-color: #878787;
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #999999;
  --grey-100: #9c9c9c;
  --bg-input-color: #fff;
  --border-input-color: #393b7e4d;
  --placeholder-input-color: #7f8189;
  --border-input-radius: 8px;
  --border-card-radius: 20px;
  --border-modal-radius: 15px;
}
